# dependencies
/node_modules

# compiled frontend
/public

# logs
*.log

#ssl
/ssl

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/

# third-party libs
/angular-src/src/libs