tr:hover{
    background-color: transparent !important;
}
tr{
    background-color: inherit !important;
}
td:hover{
    background-color: #49515a;
}
#switch-conteiner{
    height: 30px;
}
.controls{
    margin-bottom: 10px;
}